body {
  background-color: rgb(255, 255, 255);
  font-family: "Audiowide", sans-serif;
}

#pm {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 10px;
  left: 318px;
  text-align: center;
  font-size: 700%;
}
#sec {
  color: rgb(0, 0, 0);
  position: fixed;
  top: 70px;
  left: 260px;
  text-align: center;
  font-size: 190%;
}
#border {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(80%, 60%);
  width: 19.2em;
  height: 10em;
 
  padding-left: 10;
  border-radius: 20px;
  box-shadow: 0 0 0 .6em;
  border-right: solid 220px;
  position: static;
}

.clock {
  position: fixed;
  top: 30px;
  left: 2px;
  right:50px;
  text-align: center;
  font-size: 480%;
}
